@model AddVM

<html>
<head>
    <title></title>
    <style>
        body {
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(https://imgs.search.brave.com/XYcwEDz572HpE2sThVrB3Buo4vJNLziYehTFmfQV6vc/rs:fit:759:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4y/cjJGcWExdTR5dUxF/eVduSHBOMVRRSGFF/byZwaWQ9QXBp);
        }

        form {
            width: 57%;
            margin-left: 15rem;
            background-color: lightgray;
            padding: 2rem;
        }

        label {
            font-weight: 600;
        }


        button {
            margin-top: 1rem;
            margin-left: 15rem;
        }


        footer {
            display: none;
        }
    </style>
</head>

<body>
    <h1 style="text-align:center; color: white; margin-top:5rem;">Add Product</h1>
    <form asp-controller="ProductList" asp-action="Add" method="post">


        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="Name">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Color"></label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="Color">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Prices"></label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="Prices">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="Prices" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>



